<form method= "POST" action='/tubes' name="playlist">
  <input id= "playlist" type="text" name="playlist">
  <input id="id" type="hidden" name="id" value= <%=current_user.id%> >
  <input name="authenticity_token" type="hidden" value="fO/N1gs9r2s5bnQM2C5InKTmTR2i9FEgg4VDL5MSBNs=" />
  <input type= "submit" id='playlist' value="create playlist">
</form>