  <%current_user.playlists.each do |playlist|%>
    <% playlist.playlist_videos.each do |list|%>
    <% if list.video != nil%>
      <div class= "<%= playlist.title %> vidlink">
        <a href="javascript:void jQuery.colorbox({html:'<iframe width=800px height=600px src= <%= list.video.embed_url%> frameborder=0 prelaod=false allowfullscreen ></iframe>'})"> <img src='<%=list.video.thumbnail%>'> </a>
        <%=link_to "delete", video_path(list.video.id), :method=> :delete, :confirm=> "sure ?" %>
      </div>
      <%end%>
    <%end%>
  <%end%>
