<center>
<div id= "results_container">
  <h3> Search Results </h3>
    <% if @results != nil %>
      <% @results.videos.each do |x| %>
        <div id= 'result' class="row col-md-4">
          <%=x.title%>
          <form>
            <select>
              <option value="1">Playlist1</option>
              <option value="2">Playlist2</option>
            </select>
            <button>save</button><br>
          </form>

      <p><a href="javascript:void jQuery.colorbox({html:'<iframe width=800px height=600px src= <%= x.embed_url%>frameborder=0 prelaod=false allowfullscreen ></iframe>'})"><img src= <%=x.thumbnails[0].url%> ></a></p>

        </div>
      <%end%>
    <%end%>
<div>
<center>