<div id="searchForm">
  <form method= "GET" action='/search' name="search">
    <input class="search" id= "search" type="text" name="search">
    <input type= "submit" id='youtubeSearch' class="current btn btn-a" value="search" onclick="hack();">
  </form>
</div>