    <%=render 'search' %>
    <% if current_user %>
      <%=render 'create_playlist' %>
      <%=render 'playlists'%>
    <%end%>
    <center>
      <div>
        <% if @results !=nil%>
        <%=render 'results'%>
        <%end%>
      </div>
    </center>
