<head>
</head>

<div class='container'>
    <%=render 'search' %>
    <center>

      <div>
        <% if @results !=nil%>
        <%=render 'results'%>
        <%end%>
      </div>

     </center>
</div>