
<div class='container'>

    <%=render 'search' %>
    <% if current_user %>
      <%=render 'create_playlist' %>
    <%end%>
    <center>
      <div>
        <% if @results !=nil%>
        <%=render 'results'%>
        <%end%>
      </div>
     </center>
</div>